{% extends "base.html" %} 
{% block content %}
    {% if product %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name" name="name" value="{{product.name}}">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Ảnh</label>
            <img src="{{product.image.url}}" />
            <input type="file" class="form-control" id="image" name="image" value="{{product.image}}">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Mô tả</label>
            <input type="text" class="form-control" id="age" name="description" value="{{product.description}}">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Nguồn gốc</label>
            <input type="text" class="form-control" id="gender" name="origin" value="{{product.origin}}">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Thương hiệu</label>
            <input type="text" class="form-control" id="gender" name="trademark" value="{{product.trademark}}">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Giá</label>
            <input type="text" class="form-control" id="price" name="price" value="{{product.price}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
{% endblock %}
